body{
    background-color: #c2c2c2; 
    }
    .dog{
    background-color: rgba(28, 19, 60, 0.486)
    }
    
    .lion{
    background-color: rgb(255, 0, 0); width: 110;
    }
    
    .bear{
    background-color: orange; width: 85;
    }
    
    .tiger{
    background-color: yellow; width: 67;
    }
            
    .fox{
    background-color: green; width: 58;
    }
    
    .rat{
    background-color: rgba(79, 79, 234, 0.58); width: 47;
    }
    
    .cat{
    background-color: rgb(250, 53, 194);width: 39; 
    }